name: Rust Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Install powershell-toml module
      shell: pwsh
      run: Install-Module -Name powershell-toml -Force -Scope CurrentUser

    - name: Get package name and version
      id: package_info
      shell: pwsh
      run: |
        $cargo_toml = Get-Content -Path "Cargo.toml" -Raw | ConvertFrom-Toml
        $package_name = $cargo_toml.package.name
        $package_version = $cargo_toml.package.version
        echo "PACKAGE_NAME=$package_name" >> $env:GITHUB_OUTPUT
        echo "PACKAGE_VERSION=$package_version" >> $env:GITHUB_OUTPUT

    - name: Build
      run: cargo build --release --verbose

    - name: Rename executable
      id: rename
      shell: pwsh
      run: |
        $exe_name = "${{ steps.package_info.outputs.PACKAGE_NAME }}_${{ steps.package_info.outputs.PACKAGE_VERSION }}.exe"
        $source_path = "target/release/${{ steps.package_info.outputs.PACKAGE_NAME }}.exe"
        $destination_path = "target/release/$exe_name"
        Move-Item -Path $source_path -Destination $destination_path
        echo "EXE_NAME=$exe_name" >> $env:GITHUB_OUTPUT

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: windows-executable
        path: target/release/${{ steps.rename.outputs.EXE_NAME }}
